/* ============= Main CSS ============ */

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill img {
    display: inline-block;
    min-height: 100%;
    max-width: none;
    position: relative;
    min-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.blocks-box,
.slick-slider {
    padding: 0!important;
}

.slick-slide {
    float: left/* If RTL Make This Right */
    ;
}


/* ================= Slider Style ================= */

.slider_section {
    position: relative;
}

.slider_content {
    margin: 0 auto;
    width: 600px;
}

.slider_overlay {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Modern-Slider .item .img-fill {
    height: 100vh;
    background: #000;
}

.Modern-Slider .item .img-fill .info {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.Modern-Slider .item .info {
    display: inline-block!important;
    vertical-align: middle;
    height: 100%;
}

.Modern-Slider .NextArrow {
    right: 60px;
}

.Modern-Slider .NextArrow:before {
    content: '\f105';
}

.Modern-Slider .PrevArrow,
.Modern-Slider .NextArrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #fcfcfc;
    border-radius: 100%;
    color: #fcfcfc;
    font: 20px/45px FontAwesome;
    height: 52px;
    margin-top: -26px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    visibility: hidden;
    width: 52px;
    z-index: 5;
}

.Modern-Slider .PrevArrow {
    left: 60px;
}

.Modern-Slider .NextArrow:hover,
.Modern-Slider .PrevArrow:hover {
    background: #2574F3;
    border-color: #2574F3;
}

.Modern-Slider:hover .PrevArrow,
.Modern-Slider:hover .NextArrow {
    opacity: 1;
    visibility: visible;
}

.Modern-Slider .PrevArrow:before {
    content: '\f104';
}

.Modern-Slider .slick-dots {
    position: absolute;
    height: 5px;
    background: rgba(255, 255, 255, .20);
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.Modern-Slider .slick-dots li button {
    display: none;
}

.Modern-Slider .slick-dots li {
    float: left;
    width: 0px;
    height: 5px;
    background: #0094ca;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.Modern-Slider .slick-dots li.slick-active {
    width: 100%;
    -webkit-animation: ProgressDots 11s both;
    animation: ProgressDots 11s both;
}

.Modern-Slider .item h3 {
    color: #fcfcfc;
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    padding: 0;
    text-align: center;
    
    -webkit-animation: fadeOutUp 1s both;
    animation: fadeOutUp 1s both;
}

.Modern-Slider .item h5 {
    color: #dddddd;
    font-size: 20px;
    line-height: 36px;
    font-family: roboto;
    padding: 25px 0 40px;
    font-weight: 300;
    
    -webkit-animation: fadeOutUp 1.2s both;
    animation: fadeOutUp 1.2s both;
}

.Modern-Slider .slider_button>li {
    display: inline-block;
    margin-right: 14px;
}

.Modern-Slider .slider_button>li:last-child {
    margin-right: 0px;
}

.Modern-Slider .slider_button a {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 55px;
    letter-spacing: 1.5px;
    line-height: 34px;
    text-align: center;
    border: 2px solid;
    text-transform: uppercase;
}

.Modern-Slider .slider_button a:hover {
    background: transparent;
}

.Modern-Slider .slider_button a.blue_btn {
    background: #2574f3 none repeat scroll 0 0;
    border-color: #2574f3;
    color: #fcfcfc;
    padding: 10px 27px;
    
    -webkit-animation: fadeOutUp 1.4s both;
    animation: fadeOutUp 1.4s both;
}

.Modern-Slider .slider_button a:hover {
    background: none!important;
    color: #fff;
}

.Modern-Slider .slider_button .calto_feature {
    color: #fcfcfc;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 34px;
    padding-left: 25px;
    text-decoration: underline;
}

.Modern-Slider .slider_button .calto_feature:hover {
    text-decoration: none;
}


/*----------caption In transition-------------*/

.Modern-Slider .item.slick-active h3 {
    -webkit-animation: fadeInDown 1.4s both 1s;
    animation: fadeInDown 1.4s both 1s;
}

.Modern-Slider .item.slick-active h5 {
    -webkit-animation: fadeInDown 1.2s both 1s;
    animation: fadeInDown 1.2s both 1s;
}


.Modern-Slider .item.slick-active .slider_button a.blue_btn {
    -webkit-animation: fadeInDown 1s both 1s;
    animation: fadeInDown 1s both 1s;
}


/*----------end caption in transition-------------*/

.Modern-Slider .item.slick-active:nth-child(odd) img {
    -webkit-animation: slideInfiZoomIn 20s both;
    animation: slideInfiZoomIn 20s both;
}

.Modern-Slider .item.slick-active:nth-child(even) img {
    -webkit-animation: slideInfiZoomOut 20s both;
    animation: slideInfiZoomOut 20s both;
}


/* ==== Slider Image Transition === */


/*@keyframes slideInfiZoomIn {
    0% {
        transform: scale(1) rotate(0deg) translate(0px);
    }
    100% {
        transform: scale(1.5) rotate(20deg) translate(60px);
    }
}

@keyframes slideInfiZoomOut {
    0% {
        transform: scale(1.5) rotate(20deg) translate(60px);
    }
    100% {
        transform: scale(1) rotate(0deg) translate(0px);
    }
}

@-webkit-keyframes ProgressDots {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

@keyframes ProgressDots {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}*/


/* =============== Slick Slider Css Ruls ================ */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left/* If RTL Make This Right */
    ;
    height: 100%;
    min-height: 1px
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
